{% load static %}
<link rel="stylesheet" type='text/css' media='screen' href="{% static 'base/style.css' %}">
<h1>To Do List</h1>

<!-- checks for valid user, redirects if not. -->
{%if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">login</a>
{% endif %}
<hr>
<a href ="{% url 'task-create' %}">Add Task</a>
<hr>
<div id="chat_room">
    <a href="{% url 'index' %}">Join Chat Group</a>
</div>
<hr>

<form method="get">
    <input type="text" name="search-area" value="{{search_input}}">
    <input type="submit" value="Search">
</form>

<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>

    </tr>
    {% for task in tasks%}
    <tr>
        <td>{{task.title}}</td>
        <!-- 'tasks' was the context_object_name aka 'nickname' -->
                <!-- defunct- item details- add in '{%' to fix -->
        <!-- <td><a href = " #url 'tasks' task.id %}">Item Details</a></td> -->
        <td><a href = "{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>List is empty</h3>
    {% endfor %}
</table>